.PureInfoDisplay {
  background-color: #282c34;
  min-height: calc(100vh - 10px);
  min-width: 0;
  padding: 5px;

  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.values-1, .values-2, .values-3 {
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.values-4, .values-5, .values-6 {
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.PureInfoDisplay > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  color: #000;
  overflow: hidden;
}

.values-1 .PureInfoDisplay-data-num {
  font-size: 15em;
}

.values-1 .PureInfoDisplay-data-unit {
  font-size: 5em;
}

.values-2 .PureInfoDisplay-data-num {
  font-size: 11em;
}

.values-2 .PureInfoDisplay-data-unit {
  font-size: 3em;
}

.values-3 .PureInfoDisplay-data-num {
  font-size: 9em;
}

.values-3 .PureInfoDisplay-data-unit {
  font-size: 3em;
}

.values-4 .PureInfoDisplay-data-num {
  font-size: 5em;
}

.values-4 .PureInfoDisplay-data-unit {
  font-size: 2em;
}

.values-5 .PureInfoDisplay-data-num {
  font-size: 5em;
}

.values-5 .PureInfoDisplay-data-unit {
  font-size: 2em;
}

.values-6 .PureInfoDisplay-data-num {
  font-size: 5em;
}

.values-6 .PureInfoDisplay-data-unit {
  font-size: 2em;
}